body {
  margin: 0 auto;
  font-family: OpenSans-Bold, Arial, sans-serif;
   
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(fonts/Open_Sans_Bold/"OpenSans-Bold.woff")
  format("woff");
} 

@font-face {
  font-family: "Open Sans";
  src: url(fonts/Open_Sans_Condensed_Light/"OpenSans-CondLight.woff")
  format("woff");
}


.content_wraper {
  max-width: 1160px;
  margin: 0 auto;
}

.top_header {
  background-color: #eceef4;
}

.top_header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top_header_unordered_list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;  
}

.top_header_li {
  margin: 0 6px 0 0;
  display: inline;
  padding: 4px 20px 6px 8px;
  background-color: #ffffff;
  border-radius: 4px;
}

.top_header_link {
  display: inline-block;
  font-family: OpenSans-Bold;
  font-size: 12px;
  text-decoration: none;
  color: #7a7b7d;
  padding-left: 40px;
}

.blog  {
  background-image: url(../icons/top_header/blog.png);
  background-repeat: no-repeat;
  line-height: 20px;
}

.jobs {
  background-image: url(../icons/top_header/jobs.png);
  background-repeat: no-repeat;
  line-height: 25px;
}

.support {
  background-image: url(../icons/top_header/support.png);
  background-repeat: no-repeat;
  line-height: 20px;
}

.arabic {
  background-image: url(../icons/top_header/arabic.png);
  background-repeat: no-repeat;
  line-height: 20px;
}

.top_header_li:hover {
  background-color: #c4e3fb;
}

.top_header_icon {
  margin: -2px 21px 0 0;
}

.top_social_unordered_list {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.top_social_li {
  border-left: 1px solid #dee0e6; 
}

.top_social_li:last-child {
  border-right: 1px solid #dee0e6;
}

.top_social_li:hover {
  background-color: #c4e3fb;
}

.top_social_icon {
  padding: 21px 21px 17px 21px;
}

.main_header_logo_and_contact {
  display: flex;
  justify-content: space-between;
}

.main_header_logo {
  margin: 61px 0 0 -17px;
  padding: 18px 0 0 0 ;
  background-image: url(../images/logo.png);
  width: 403px;
  height: 73px;
  text-align: center;
  font-size: 41px;
  font-family: Open Sans; 
  color: #3687c4;
  text-decoration: none;
}

.contacts_unordered_list {
  list-style-type: none;
  display: inline-flex;
  margin: 137px 24px 4px 0;   
}

.contact_link { 
  background-image: url(../icons/main_header/tel_icon.png);
  background-repeat: no-repeat;
  border-right: solid 1px #bcbec3;
  padding: 10px 26px;
}

.contact_link:hover {
  background-image: url(../icons/main_header/tel_icon_blue.png);
  background-repeat:  no-repeat;
}

.map_link {
  background-image: url(../icons/main_header/map_icon.png);
  background-repeat: no-repeat;
  border-right: solid 1px #bcbec3;
  padding: 10px 23px;
  margin: 0 22px 0 23px ;
}

.map_link:hover {
  background-image: url(../icons/main_header/map_icon_blue.png);
  background-repeat: no-repeat;
}

.mail_link {
  background-image: url(../icons/main_header/message_icon.png);
  background-repeat: no-repeat;
  padding: 7px 20px;
}

.mail_link:hover {
  background-image: url(../icons/main_header/message_icon_blue.png);
  background-repeat: no-repeat;
}

.main_header_navigation_and_search {
  border-top: 1px solid #eceef4;
  margin-top: 53px;
}

.main_header_navigation_and_search_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main_header_menu {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main_header_menu_link {
  font-family: OpenSans-Bold;
  font-size: 13px;
  text-decoration: none;
  color: #6d6e71;
  text-align: center;
}

.main_header_menu_link:hover {
  color: #64bde8;
}

.main_header_li {
  border-right: 1px solid #eceef4;
  padding: 30px 15px 33px 15px;
}

.main_header_li:last-child {
  border-right: none;
}

.main_header_search {
  display: inline-flex;
}

.main_header_search_box {
  border: none;
  border-radius: 5px;
  width: 192px;
  height: 35px;
  margin: 22px 4px 0 5px;
  font-size: 15px;
}

.main_header_search_button {
  border: none;
  cursor: pointer;
}

.heading_baner {
  background-image: url(../images/heading_baner.png);
  background-repeat: no-repeat;
  background-size: cover; 
}

.heading_main_paragraph {
  font-size: 58px;
  font-family: OpenSans-Bold;
  color: #ffffff;
  padding: 246px 0 0 193px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.heading_baner_paragraph {
  font-size: 45px;
  font-family: Open Sans;
  font-weight: lighter;
  color: #ffffff; 
  margin: -94px 0 0 0;
  text-align: center;
}

.heading_baner_ampersand {
  color: #bbedff;
  font-weight: bold;
  font-size: 124px; 
}

.like_boxes {
  display: flex;
  justify-content: flex-end;
  padding: 120px 0 80px 0;
}

.green_bottom_box {
  height: 65px;
  width: 322px;
  background-color: #88c94e;
  margin-top: -70px;
  opacity: 0.7;
}
.green_like_paragraph {
  font-size: 14px;
  font-family: Open Sans;
  color: #ffffff;
  background-image: url(../icons/heading_baner_icons/green_like_icon.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 18px 0 0 125px;
  padding: 5px 0 10px 45px;
}

.yellow_bottom_box {
  height: 65px;
  width: 322px;
  background-color: #feeb75;
  margin-top: -70px;
  opacity: 0.7;
}

.yellow_like_paragraph {
  font-size: 14px;
  font-family: Open Sans;
  color: #cc9800;
  background-image: url(../icons/heading_baner_icons/yellow_like_icon.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 18px 0 0 125px;
  padding: 5px 0 10px 45px;
}

.moresign {
  background-color: #f4f4f4;
  padding: 101px 44px 100px;
}

.about_and_why_isama {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.about_text {
  width: 386px;
  margin: -10px 0 0 137px;
  line-height: 23px;
}

.why_text {
  width: 386px;
  margin: -10px 0 0 130px;
  line-height: 23px;
}

.about_and_why_heading {
  font-size: 26px;
  color: #6d6e71;
}

.about_icon {
  background-image: url(../icons/about_isama_icon.png);
  background-repeat: no-repeat;
}

.why_icon {
  background-image: url(../icons/why_icon.png);
  background-repeat: no-repeat;
}

.about_and_why_paragraph {
  font-size: 16px;
  color: #868689;
  font-weight: normal;
  font-family: Open Sans;
}
